@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* light */
  --background-light: hsl(240 5% 96%);
  --foreground-light: hsl(240 10% 3.9%);
  --card-light: hsl(0 0% 100%);
  --card-foreground-light: hsl(240 10% 3.9%);
  --popover-light: hsl(0 0% 100%);
  --popover-foreground-light: hsl(240 10% 3.9%);
  --primary-light: hsl(240 5.9% 10%);
  --primary-foreground-light: hsl(0 0% 98%);
  --secondary-light: hsl(240 4.8% 95.9%);
  --secondary-foreground-light: hsl(240 5.9% 10%);
  --muted-light: hsl(240 4.8% 95.9%);
  --muted-foreground-light: hsl(240 3.8% 46.1%);
  --accent-light: hsl(240 4.8% 95.9%);
  --accent-foreground-light: hsl(240 5.9% 10%);
  --destructive-light: hsl(0 84.2% 60.2%);
  --destructive-foreground-light: hsl(0 0% 98%);
  --border-light: hsl(240 5.9% 90%);
  --input-light: hsl(240 5.9% 90%);
  --ring-light: hsl(240 5.9% 10%);

  /* dark */
  --background-dark: hsl(240 6% 7%);
  --foreground-dark: hsl(0 0% 98%);
  --card-dark: hsl(240 4% 16%);
  --card-foreground-dark: hsl(0 0% 98%);
  --popover-dark: hsl(240 10% 3.9%);
  --popover-foreground-dark: hsl(0 0% 98%);
  --primary-dark: hsl(0 0% 98%);
  --primary-foreground-dark: hsl(240 5.9% 10%);
  --secondary-dark: hsl(240 3.7% 15.9%);
  --secondary-foreground-dark: hsl(0 0% 98%);
  --muted-dark: hsl(240 4% 16%);
  --muted-foreground-dark: hsl(240 5% 64.9%);
  --accent-dark: hsl(240 3.7% 15.9%);
  --accent-foreground-dark: hsl(0 0% 98%);
  --destructive-dark: hsl(0 62.8% 30.6%);
  --destructive-foreground-dark: hsl(0 0% 98%);
  --border-dark: hsl(240 3.7% 15.9%);
  --input-dark: hsl(240 3.7% 15.9%);
  --ring-dark: hsl(240 4.9% 83.9%);

  /* both */
  --radius: 0.75rem;

  /* defaults */
  --background: var(--background-light);
  --foreground: var(--foreground-light);
  --card: var(--card-light);
  --card-foreground: var(--card-foreground-light);
  --popover: var(--popover-light);
  --popover-foreground: var(--popover-foreground-light);
  --primary: var(--primary-light);
  --primary-foreground: var(--primary-foreground-light);
  --secondary: var(--secondary-light);
  --secondary-foreground: var(--secondary-foreground-light);
  --muted: var(--muted-light);
  --muted-foreground: var(--muted-foreground-light);
  --accent: var(--accent-light);
  --accent-foreground: var(--accent-foreground-light);
  --destructive: var(--destructive-light);
  --destructive-foreground: var(--destructive-foreground-light);
  --border: var(--border-light);
  --input: var(--input-light);
  --ring: var(--ring-light);
}

html.dark {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
  --card: var(--card-dark);
  --card-foreground: var(--card-foreground-dark);
  --popover: var(--popover-dark);
  --popover-foreground: var(--popover-foreground-dark);
  --primary: var(--primary-dark);
  --primary-foreground: var(--primary-foreground-dark);
  --secondary: var(--secondary-dark);
  --secondary-foreground: var(--secondary-foreground-dark);
  --muted: var(--muted-dark);
  --muted-foreground: var(--muted-foreground-dark);
  --accent: var(--accent-dark);
  --accent-foreground: var(--accent-foreground-dark);
  --destructive: var(--destructive-dark);
  --destructive-foreground: var(--destructive-foreground-dark);
  --border: var(--border-dark);
  --input: var(--input-dark);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

html {
  font-family: sb-body, SFRounded, ui-rounded, "SF Pro Rounded", system-ui,
    "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* Radix */
.ScopeSelectHeightToViewport {
  max-height: var(--radix-select-content-available-height);
}
